- if @issue && User.current == @issue.assigned_to && !@issue.closed?
  #recurrence

    %h3= l(:label_planning)
    %ul
      %li{style: 'list-style-type: square; '}
        = link_to l(:label_do_regular_plan), {:controller => :estimated_times, :action => :new, :estimated_time => {:issue_id => @issue.id }}
      %li{style: 'list-style-type: square; '}
        = link_to l(:label_do_recurring_plan), {:controller => :recurring_planning, :action => :new, :id => (@issue.id rescue nil)}, :remote => true, :method => :get

    - if false && @issue.planning_schedule # debug. turned off in production
      %ul
        - @issue.planning_schedule.occurrences(@issue.due_date).each do |o| 
          %li= o.strftime('%Y-%m-%d')

      %p= @issue.planning_schedule.to_s
